/* MEDIA QUERIES */

/* sur le periphérique mobile */

@media screen and (max-width: 768px)

{   *   {   box-sizing: border-box;   
            font-family: 'Raleway', 'Arial';
            text-decoration: none;
            list-style: none;
            font-size: 22px;
            max-width: 100%;   }

    body, header, main
   {    max-width: 100%;
        margin: 20px 0px; }

    main 
    {   display: flex;
        flex-direction: column;}

    /* Logo et menu */

    header 
    {   width: 100%;
        flex-direction: column;
        justify-content: normal;
        align-items: center;
        height: auto;
        margin: 0;  }

    .booki
    {   width: 25%;
        justify-content: center;
        margin: 0px;    }

    .menu ul 
    {   justify-content: space-between;
        padding: 0px 20px;
        gap: 250px; }

    .menu li 
    {   font-size: 200%;    }

    .menu a:hover 
    {   border-top: none;
        border-bottom: 4px solid #0065FC;
        margin-bottom: 5px;  }
    
    hr 
    {   display: inline;
        width: 100%;
        border-bottom: 3px solid #f2f2f2;
        border-top: none;
        margin-top: -30px;  }

    main h1 
    {   max-width: 70%;
        font-size: 175%;
        font-weight: 800;
        margin-top: 0px;    }

    /* SECTION 1 - SEARCH ET FILTRES */

    #search_sentence
    {   font-size: 120%;}

    .search_area
    {   width: 100%;
        height: 90px;}

    #map_marker
    {   font-size: 40px;}

    ::placeholder 
    {   color: black;
        font-size: 34px;
        font-weight: 800; 
        padding: 10px;  }   

    .button_1
    {   display: none;  }

    .button_2
    {   display: flex;
        flex: 1;
        justify-content: center;
        padding: 30px 25px 30px 20px;
        margin-left: -20px;
        border-radius: 20px; 
        border: #0065FC;
        color: white;
        background-color: #0065FC; 
        cursor: pointer; }

    .button_2:hover
    {   color: black;   }

    .button_2:focus
    {   outline: none;  }

    .button_2 i 
    {   font-size: 32px;    }

    .filter h2
    {   font-size: 150%;
        font-weight: 800;   }

    .filter ul
    {   margin-left: -30px;
        margin-right: 60px;
        gap: 50px;}

    .filter_item
    {   height: 75px;
        border: 5px solid #f2f2f2;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
        border-left: none;}

    .icon
    {   width: 75px;
        height: 75px;
        font-size: 50px;}
            
    .text
    {   font-size: 130%;
        font-weight: 800;}

    #info
    {   width: 50px;
        height: 50px;
        font-size: 25px;
        border: 5px solid #f2f2f2;  }

    .information p 
    {   width: 90%;
        font-size: 30px;
        font-weight: 500;
        margin-top: 10px;   }

/* SECTION 2 - HEBERGEMENTS ET POPULAIRES */

.block_accomodation
{   flex-direction: column; }

#accomodation_marseille
{   order: 2;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    background-color: white; }
















.popular 
{   order: 1;
    width: 100%;
    margin: 0px;
    padding: 20px;
    border-radius: 0px; }

.popular h2, #chart
{   font-size: 200%;
    font-weight: 800;   }

#chart
{   margin-top: -85px;}

.card_popular 
{   max-width: 100%;
    height: 250px;
    padding: 10px; }

.card_popular img 
{   max-width: 250px;   }

.block_info_popular 
{   max-width: 70%;
    padding-left: 20px;
    margin-top: -20px; }

.block_info h3 
{   font-size: 150%;    }

.block_info p
{   font-size: 120%;
    margin-top: -20px;}

.card_note_popular
{   margin-top: 25px;}






















/* REGROUPEMENT DES CODES POUR ANIMATION */

a
{   text-decoration: none;  
    color: black;   }

.menu a:hover, .filter_item:hover, .card:hover, /*.card h3:hover,*/ h3:hover, /*.block_info_popular h3:hover,*/ .title_activity h2:hover, footer a:hover
{   color: #0065FC; }

.filter_item:hover, .card:hover, /*.card h2:hover,*/ h3:hover, /*.card_popular:hover,*/ .block_info_popular h2:hover, .title_activity h2:hover
{   transition: 0.1s ease;
    cursor: pointer; }

.filter_item:hover, .card:hover, .card_title:hover, .card_popular:hover, .single_activity:hover, .group_activities .big:hover, .group_activities .middle_1:hover, .group_activities .middle_2:hover, .group_activities .small:hover 
{   background-color: #DEEBFF;  }

