/* MEDIA QUERIES */

sur le periphérique mobile 
@media screen and (max-width: 768px){                             

    .menu a:hover 
    {   border-bottom: 1px solid #0065FC;  }

    .button_1
    {   display: none;  }

    .button_2
    {   display: block; }

    .filter_item
    {   border: 5px solid #f2f2f2;
        gap: 10px;  }


    .accomodation_marseille     
    {   order: 2; 
        background-color: white;  }

    .popular
    {   order: 1;   }

    
    
}

sur la version tablette 
@media screen and {min-width: 768px) and (max-width: 992px){       

}

sur la version desktop 
@media screen all (min-width: 992px){                             

}                              