/* MEDIA QUERIES */

/* sur le periphérique mobile */

@media screen and (max-width: 768px){                             

    header, .content
    {   padding: 0px;
        margin: 0px;}

    .title
    {   flex-direction: column;
        justify-content: center;}

    .logo
    {   margin-top: 60px;
        justify-content: center;}

    .menu
    {   display: flex;
        justify-content: space-around;
        width: auto;
        height: auto;
        margin-bottom: 30px;
           }
        
    .menu li 
    {   flex-grow: 1;
        }

    .menu ul 
    {   flex-direction: row;
        justify-content: center;
        margin-right: 0px;
        padding: 10px;
        border-bottom: 3px solid #f2f2f2;
        }

    .menu a 
    {   display: inline;
        padding: 10px;
        
        }
    
    .menu a:hover    
    {   border-top: none;
        border-bottom: 3px solid #0065FC;  }

    .section_search
    {   margin-left: 0px;
        margin-right: 0px;}
    
    .search h1
    {   padding-top: 20px;
        font-size: 20px;}


    .button_1
    {   display: none;  }

    .button_2
    {   display: block; }

    .filter_buttons
    {   flex-wrap: wrap;
        margin-left: 0px;}

    .filter ul
    { gap: 25px;}

    .filter_item
    {   border: 5px solid #f2f2f2;
        gap: 10px;
        width: max-content; }


    .accomodation_marseille     
    {   order: 2; 
        background-color: rebeccapurple;  }

    .popular
    {   order: 1;   }

    
    
}
/*
sur la version tablette 
@media screen and {min-width: 768px) and (max-width: 992px){       

}

sur la version desktop 
@media screen all (min-width: 992px){                             

}                         */     