/* MEDIA QUERIES */

/* sur le periphérique mobile */

@media screen and (max-width: 768px)

{   *   {   font-family: 'Raleway', 'Arial';
            text-decoration: none;
            list-style: none;   }

    body 
   {   max-width: 750px; 
        /*margin: 20px;
        padding: 20px; */}

    header, .content
    {   margin: 10px;
        width: 100%; }

    /* Logo et menu */

    header
    {   flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto; }
    
    header .booki
    {   position: absolute;
        top: 0%;
        left: 45%;
        width: 100%; }

    .booki
    {   height: auto;
        max-width: 150px;
        object-fit: cover;} 

    header .menu
    {   position: absolute;
        top: 10%;
        left: 4%;
        width: 100%;
        margin-left: -60px;
        margin-right: -60px;}

    .menu 
    {   display: flex;
        flex-direction: row;
        align-content: flex-start;
        text-align: left;
        padding: 30px; 
        margin: 0px; 
        flex: 1; }

    .menu ul 
    {   display: flex;
        flex: 1;
        text-decoration: none;
        width: 100%;
        margin: 0px 0px 20px -40px; }

    .menu li 
    {   width: 100%;
        font-size: 25px;
        font-weight: 600;  
        padding: 0px 20px 20px 75px;
        border-bottom: 3px solid #f2f2f2;}

    .menu li::marker
    {   display: none;}

    .menu a:hover
    {   border-top: none;
        border-bottom: 3px solid #0065FC;
        padding-bottom: 20px;}

    .menu a 
    {   color: black; }

    main 
    {   width: 80%;
        margin: 10px; }

   h1
    {   font-size: 40px;
        font-weight: 800;
        margin-top: 170px;
        align-items: center;
        width: auto;
        word-break: break-word; 
        letter-spacing: 1.5px;  }

    /* SECTION 1 */

    #search_sentence
    {   width: max-content;
        font-size: 27px;
        font-weight: normal;
        margin: 0px 0px 30px 0px; 
        padding: 0px;  }

    .search_area
    {   display: flex;
        justify-content: flex-start;
        height: 65px;
        width: 750px;
        margin-top: 40px;
        margin-bottom: 30px; }

    #map_marker
    {   display: flex;
        justify-content: center;
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
        padding: 20px 25px; }    
    
    #map_marker, .srch, .button_2
    {   font-size: 25px;   }

    .srch
    {   display: flex;
        width: 80%;
        margin-left: -5px;
        padding: 12px;
        border: 2px solid #f2f2f2; }

    ::placeholder 
    {   color: black;
        font-weight: bold; 
        padding: 10px;  }
        
    .button_1
    {   display: none;  }

    .button_2
    {   display: flex;
        padding: 20px ;
        margin-left: -20px;
        border-radius: 20px; 
        border: #0065FC;
        color: white;
        background-color: #0065FC;   }

    .button_2:hover
    {   color: black;   }

    .button_2:focus
    {   outline: none;  }

    /* FILTRES */

   .filter
    {   flex-direction: column;
        justify-content: space-between;
        width: auto; }    
   
    .filter h2
    {   margin-top: 32px;
        font-weight: 800;
        margin-left: 10px;
        font-size: 26px;    }  

    .filter_buttons
    {   display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px; }

    .filter_buttons li 
    {   display: flex;     
        margin: 0px;}

   .filter_item
    {   width: auto;
        padding: 15px 25px 15px 30px;
        margin: 15px;
        background-color: white;
        border: 3px solid #F2F2F2;
        border-radius: 40px; } 

    .icon 
    {   max-width: 30px;
        max-height: 30px;
        font-size: 28px;
        padding: 20px;
        margin-left: -40px;
        border-radius: 40px;
        background-color: #deebff; }

    .text
    {   font-size: 26px;
        font-weight: bold;
        padding-left: 15px;    }

    .information
    {   display: flex; 
        margin-left: 10px;       }

    #info
    {   font-size: 18px;
        width: 20px;
        height: 20px;
        padding: 15px 10px 10px 15px;
        margin-right: 20px;
        border: 2px solid #f2f2f2;
        border-radius: 30px;   }

    .information p
    {   width: 100%;
        font-size: 24px;
        margin-top: 10px;
        hyphens: auto;
        letter-spacing: 1px;
        word-spacing: 2px; }

    /* PARTIE HEBERGEMENTS */
    
    .block_accomodation
    {   display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;   
        margin: 0px; }

    #accomodation_marseille                                               /* PARTIE HEBERGEMENTS */
    {   display: flex;
        flex-direction: column;
        order: 2;
        justify-content: flex-start;    
        flex-wrap: wrap;
        background-color: white;
        margin: 20px 10px;
        width: fit-content; }

    #accomodation_marseille h2
    {   display: flex;   
        margin: 10px 0px;
        font-size: 35px;
        font-weight: 800; 
        letter-spacing: 1px;
        word-spacing: 3px;  }

    .block_card
    {   display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        justify-content: space-between;
        width: auto;
        margin-top: 0px;
        padding: 0px 10px; }

    .card     
    {   display: flex;
        flex-direction: column;
        width: 120%;
        object-fit: cover;
        border-radius: 15px;
        background-color: white;  
        box-shadow: 5px 5px 5px 5px gainsboro; 
        margin: 20px 0px;
        padding: 5px; }

    .card_image
    {   height: 70%; 
        width: fit-content;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;   }

    .card_image img 
    {   width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        aspect-ratio: 16 / 5;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;  }

    .card h3                                                            /* PARTIE TITRE, PRIX, ETOILE */
    {   word-wrap: break-word;
        text-align: left;
        font-weight: bold;
        font-size: 30px;
        color: black; 
        margin: 10px 0px -5px 15px; }

    .card p, .block_info p
    {   color: black;
        font-size: 22px;
        margin-left: 15px; }

    .euros_1
    {   font-weight: bold;  }

    .card_note
    {   display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 18px;
        margin: -5px 0px 5px -25px;
        height: 25px;    }

    .show_more
    {   display: flex;
        font-weight: 700;  
        font-size: 25px;  
        color: black;  
        margin: 25px 0px 10px 30px;
        width: 40%;   }

    /* PARTIE POPULAR */

    .popular
    {   display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        order: 1;  
        width: 115%;
        margin: 20px 0px;
        padding: 10px;
        background-color: #F2F2F2;
        border: 15px solid #F2F2F2;
        border-radius: 0px; } 

    .popular h2
    {   display: flex;
        margin: -10px 10px 30px;  
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 1px;
        word-spacing: 3px; }

    #chart 
    {   display: flex;
        justify-content: flex-end;
        padding-left: 50px;
        font-size: 32px;
        font-weight: 800;
        margin-right: 30px;
        margin-top: -60px; }

    .group_card
    {   display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        height: 100%; 
        list-style-type: none;
        padding: 20px 10px; }

    .card_popular    
    {   display: flex;
        height: 250px;
        width: 100%;
        padding: 10px;
        margin: 10px 0px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 5px 5px 5px gainsboro; }

    .card_popular img
    {   display: flex;
        max-width: 250px;
        height: 250px;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;    }   
    
    .card_popular img:hover 
    {   transform: scale(1.06); }

    .block_info_popular 
    {   display: flex;
        flex-direction: column;
        margin-top: -20px;
        margin-left: -20px;
        width: 100%; }

    .block_info h3
    {   font-size: 30px;
        color: black;
        word-wrap: break-word;
        margin: 30px 60px 30px 20px;
        word-spacing: 3px; }

    .block_info p
    {   font-size: 22px;
        margin-top: -20px;
        margin-left: 20px; }

    .card_note_popular                                                 /* PARTIE ETOILES */
    {   display: flex;
        align-items: baseline;
        font-size: 20px;    
        margin: 70px 20px 10px; }

    /* PARTIE ACTIVITES */

    #block_activities                                                  
    {   display: flex;
        flex-direction: column;
        justify-content: space-between;
        order: 3;
        min-width: 680px;
        margin: 10px 10px 70px -30px;
        padding: 0px 30px;  }
    
    #block_activities h2
    {   margin: 10px 0px 30px 20px;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: 1px;
        word-spacing: 3px;  }
    
    .activities
    {   display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;  
        width: 100%;
        margin: 20px; }
    
    .activities h3
    {   font-weight: 700;
        font-size: 30px;
        color: black; 
        text-align: left;
        padding: -10px 20px;
        word-wrap: break-word;  }
    
    .single_activity, .big, .middle_1, .middle_2, .small
    {   display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 280px;
        max-width: 100%; 
        margin: 30px 0px;
        padding: 10px 10px 30px;
        border-radius: 15px;
        box-shadow: 5px 5px 5px 5px #F2F2F2;    }
            
    .single_activity img, .big img, .middle_1 img, .middle_2 img, .small img
    {   width: 100%;
        height: 90%;
        object-fit: cover;
        padding-top: 60px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;   }

    .single_activity img
    {   object-position:40% 0%; }
    
    .big img
    {   object-position: 50% 40%; }
    
    .middle_1 img, .middle_2 img
    {   object-position: 50% 20%; }
    
    .small img
    {   object-position: 50% 30%; }




    footer 
    {   display: flex;
        flex-direction: column;
        justify-content: flex-start;
        order: 4;
        background-color: #F2F2F2;    
        padding-top: 30px;
        padding-left: 90px; 
        margin-bottom: -10px;
        margin-left: -5px;
        margin-right: 0px;
        height: auto;
        width: 100%; }











    
}



























    

/*
sur la version tablette 
@media screen and {min-width: 768px) and (max-width: 992px){       

}

sur la version desktop 
@media screen all (min-width: 992px){                             

}                         */     
