/* -------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN PLUS DE 1201PX ------------------------------------------------------------------------------------------*/

@media screen and (min-width: 1440px) {

header, main 
{   padding-left: 70px;
    padding-right: 70px;   }

.block_card
{   padding-top: 20px;
    gap: 10px;  
    margin-bottom: 0px; }

.card_image img 
{   object-position: 50% 60%;   }

.show_more
{   margin-top: 20px;}

.popular h2
{   margin-bottom: -30px;   } 

.group_card
{   margin-top: 25px;
    gap: 20px;}

.card_popular
{   height: 120px;
    margin-top: 5px;  }
    
.card_popular img 
{   width: 100px;   }
    
.card h3, .block_info_popular h3
{ font-size: 90%;  }

.card p,.block_info_popular p   
{   font-size: 75%;    } 

.group_card

.card p
{   margin-top: 5px;   }


.card_note_popular
{   margin-top: 15px;   }

}