/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR LES PERIPHERIQUES MOBILE------------------------------------------------------------------------------------------------------------------------------------------- */

 @media screen and (max-width: 768px)    { 

/* LOGO ET MENU */

header 
{   width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 10px; 
    padding-right: 10px;}

.booki
{   padding-left: 60px; }

.menu
{   display: flex;
    flex-direction: row;
    width: 100%;  }

.menu ul 
{   display: flex;
    width: 100%;
    padding-left: 0px; }

.menu li 
{   display: flex;
    justify-content: center;
    text-align: center;
    width: 100%; 
    height: 80%;
    font-size: 26px;  
    margin-left: 0px;
    padding: 0px;
    border-bottom: 3px solid #f2f2f2;;  } 

.menu a 
{   width: 100%;
    margin-top: -35px;}

.menu a:hover 
{   border-top: none;
    border-bottom: 5px solid #0065FC; }

main 
{   margin-left: -20px;
    margin-right: 35px; }
    
main h1 
{   width: 80%;
    font-size: 270%;
    font-weight: 800; 
    margin-left: 40px; }

/* SECTION 1 - RECHERCHE ET FILTRES */

.section_search
{   margin: 0px;
    padding: 10px; }

#search_sentence
{   font-size: 200%;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 30px; }

.search_area
 {  margin-left: 30px; }

#map_marker
 {  font-size: 180%;
    padding: 40px 30px; }

form 
{   width: 100%;    }

.srch   
{   height: 80px;
    padding-right: 250px; }

::placeholder 
{   color: black;
    font-size: 125%;
    font-weight: 800; 
    padding-left: 5px; }   

.button_1
{   display: none;  }

.button_2
{   display: inline;
    font-size: 100%;
    padding: 5px 30px 30px 25px;
    margin-left: -15px;
    margin-right: 0px;
    position: absolute;
    border-radius: 20px; 
    border: #0065FC;
    color: white;
    background-color: #0065FC; 
    cursor: pointer; }

.button_2:hover
{   color: black;   }

.button_2:focus
{   outline: none;  }

.button_2 i 
{   font-size: 200%;
    margin-top: 13px;    }

.filter
{    width: 70%;
    margin-left: 20px; }

.filter h2
{   flex: 1;
    font-size: 200%;
    font-weight: 800; 
    margin-bottom: 10px;  }

.filter_buttons
{   margin-bottom: 0px; } 

.filter ul
{   padding: 0px;
    gap: 25px;
    width: 100%; }

.filter_item
{   height: 65px;
    border: 4px solid #f2f2f2;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;  }

.icon
{   position: absolute;
    width: 70px;
    height: 70px;
    font-size: 26px; }
        
.text
{   font-size: 180%;
    font-weight: 800;
    padding-left: 60px; }

.information
{   margin-left: 20px;
    padding: 5px;  }

#info
{   width: 40px;
    height: 40px;
    font-size: 100%;
    padding: 5px 10px;
    border: 3px solid #f2f2f2;  }

.information p 
{   max-width: 75%;
    font-size: 180%;
    font-weight: 500; }

/* SECTION 2 - HEBERGEMENTS ET POPULAIRES */

.block_accomodation
{   flex-direction: column;
    min-width: 100%;
    gap: 15px;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 20px; 
    padding-right: 20px; } 

#accomodation_marseille
{   order: 2;
    padding-top: 30px;
    padding-left: 30px;
    background-color: white; }

#accomodation_marseille h2
{   font-size: 200%;
    font-weight: 800;
    margin-left: 30px; }
    
.block_card
{   width: 95%;
    margin-top: 40px; }

.card
{   height: 370px;
    width: 100%;
    padding: 5px;
    border-radius: 25px;    }

.card h3 
{   font-size: 180%; 
    font-weight: 800;
    padding-left: 10px; }

.card p 
{   font-size: 120%;    }

.card_note
{   font-size: 100%;    }

.card p
{   margin-top: 10px;
    padding-left: 10px; }
    
.card_note
{   margin-top: -10px;
    padding-left: 50px; }

.card_image img 
{   object-position: 50% 60%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }

.show_more
{   font-size: 150%;
    font-weight: 800;
    padding-left: 10px;  }

/* POPULAIRES */

.popular
{   display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 100%;
    margin-left: 0px;
    padding-left: 40px;
    padding-bottom: 30px;
    border-radius: 0px; }

.popular h2, #chart
{   font-size: 200%;
    font-weight: 800;   }

.popular h2
{   margin-left: 40px; }

#chart
{   margin-top: -10px;
    margin-right: 60px; }

.group_card
{   width: 100%; }

.card_popular 
{   height: 250px;
    width: 90%;
    border-radius: 30px; }

.card_popular img 
{   width: 180px;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px; }

.block_info_popular 
{   margin: 0px 5px; }

.block_info_popular h3 
{   width: 60%; 
    font-size: 175%;
    font-weight: 800;
    margin-top: 10px; }

.block_info_popular p
{   font-size: 130%;
    margin-top: -20px; }

.card_note_popular
{   font-size: 100%;
    margin-top: 50px; }

/* SECTION ACTIVITES */

#block_activities, .activities
{   height: 100%;
    margin: 40px 10px 0px 15px;
    padding: 0px 10px; }

#block_activities h2
{   font-size: 200%;
    font-weight: 800;
    margin: 30px 40px;   }

.activities
{   width: 95%;
    margin: 0px; 
    padding-right: 10px; }

.activities h3 
{   font-size: 150%;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px; }

.single_activity, .group_activities
{   min-width: 95%;
    margin: 20px;
    border-radius: 40px;  }

.single_activity
{   min-height: 330px;
    margin-top: 0px; }

.group_activities
{   max-height: 100%;   }

.big, .middle_1, .middle_2, .small
{   height: 330px;
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 40px;    }

.single_activity img, .group_activities img 
{   position: relative;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px; }

.single_activity img 
{   max-height: 60%;
    object-position: 50% 30%;   }  

.big img 
{   object-position: 50% 45%;   }

.small img 
{   height: 80%;
    object-position: 50% 15%; }

.middle_1 img, .middle_2 img 
{   height: 80%;}

.middle_2 img 
{ object-position: 50% 40%; }

/* FOOTER */

footer 
{   flex-direction: column; 
    padding-top: 20px;
    padding-left: 10px; }

.foot
{   margin-left: 30px;
    font-weight: 800;
    font-size: 200%; }

footer ul   
{   margin-left: 20px;}

footer li    
{   font-size: 160%;
    font-weight: 500;
    margin-left: -10px;
    padding: 0px 20px; }

footer li a
{   color: black; }

/* ANIMATIONS */
a
{   text-decoration: none;  
    color: black;   }

.menu a:hover, .filter_item:hover, .card:hover, h3:hover, .title_activity h2:hover, footer li a:hover
{   color: #0065FC; }

.filter_item:hover, .card:hover, h3:hover, .block_info_popular h2:hover, .title_activity h2:hover
{   transition: 0.1s ease;
    cursor: pointer; }

.filter_item:hover, .card:hover, .card_title:hover, .card_popular:hover, .single_activity:hover, .group_activities .big:hover, .group_activities .middle_1:hover,
.group_activities .middle_2:hover, .group_activities .small:hover 
{   background-color: #DEEBFF;  }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 740 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 740px) {

main h1
{   width: 90%;    }

.srch   
{   padding-right: 200px; }

.block_info_popular h3 
{   width: 80%; 
    font-size: 190%; }

.activities
{   padding-right: 20px;    }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 680 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 680px) {

main h1
{   font-size: 220%;    
    width: 80%;    }

.srch   
{   padding-right: 150px; }

#search_sentence
{   font-size: 160%;}

.text
{   font-size: 160%;}

.information p 
{   font-size: 140%;    }   

.block_info_popular h3 
{   width: 80%; 
    font-size: 170%; }

.block_info_popular p
{   font-size: 120%; }

.card_note_popular
{   margin-top: 40px; }

#block_activities
{   margin-left: 10px;}

.single_activity
{   max-height: 300px;  }

.big, .middle_1, .middle_2, .small
{   height: 300px;    }

}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 620 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 620px) {

.srch   
{   padding-right: 80px; }

.filter h2
{   font-size: 150%;}

.filter_item
{   height: 50px;
    margin-left: 30px; }

.filter ul 
{   margin-left: 0px;
    gap: 30px;}

.text
{   font-size: 140%;
    padding-left: 25px;}

.icon
{   position: absolute;
    width: 50px;
    height: 50px;
    font-size: 130%; }

#info
{   width: 25px;
    height: 25px; 
    font-size: 70%;  }

.block_card
{   margin-left: -10px;  }

.card
{   height: 330px;}

.block_info_popular h3
{   width: 100%;
    font-size: 170%; }

.block_info_popular p 
{   font-size: 130%;
    margin-top: 5px; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 535 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 535px) {

main h1
{   font-size: 200%;    } 

#search_sentence
{   font-size: 150%;    }

#map_marker
{   width: 100%;
    font-size: 140%;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 20px; } 

#map_marker i 
{   margin-bottom: 20px;  }

.srch   
{   height: 65px; }

::placeholder 
{   font-size: 100%;    }   

.button_2 
{   padding-bottom: 20px;
    margin-left: -30px; }

.button_2 i 
{   font-size: 150%;
    margin-top: 15px; }

.filter_item
{   height: 50px; }

.filter ul 
{    gap: 10px;}

.text
{   font-size: 120%;
    padding-left: 23px;}

.information p 
{   font-size: 100%;
    margin-top: -20px;    }

#accomodation_marseille
{   padding-left: -20px;
    padding-right: 40px;    }

.block_card
{   margin-left: 0px;   
    padding-right: 10px;    }

.block_info_popular h3 
{   width: 100%;
    font-size: 150%; }

.block_info_popular p
{   font-size: 120%;
    margin-top: -5px; }

.card_note_popular
{   font-size: 90%;
    margin-top: 30px; }

.activities
{   padding-right: 30px;}

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 480 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 480px) {

.booki
{   height: 50%;
    width: 50%; }

main 
{   margin-right: 25px; }

.menu li
{   font-size: 120%;    }

main h1 
{   width: 90%;
    font-size: 160%;
    margin-top: 20px;
    padding-right: 40px; }

.section_search
{   margin-left: 0px;   }

#search_sentence
{   flex-wrap: wrap;
    width: 80%;
    font-size: 115%;
    margin-right: 50px;    }

.srch   
{   padding-right: 0px; }

.filter h2
{font-size: 130%;   }

.filter ul 
{   gap: 20px;  }

.filter_item
{   height: 120%;
    border: 2px solid #f2f2f2; }

.text
{   font-size: 110%;
    padding-left: 10px; }

.icon
{   height: 35px;
    width: 35px;
    font-size: 120%; }

.information
{   margin-bottom: -40px; }

.information p 
{   font-size: 90%;    
    padding-top: 20px;  }

.block_accomodation
{   padding-left: 0px; }

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 140%;    }

#accomodation_marseille
{   margin-left: 20px;
    padding-top: 0px;
    padding-right: 40px;   }

.block_card
{   padding-left: 10px; }

.card
{   height: 220px; }

.card_image
{   width: 100%; }

.card_image img 
{   height: 125px;
    padding: 0px;
    object-fit: cover;
    object-position: 50% 60%; }

.card h3
{   font-size: 120%; 
    padding-top: 5px;   }

.card p, .card_note 
{   font-size: 90%;    }

.show_more
{   font-size: 90%;    }

.popular
{   width: 100%;
    padding-left: 30px;
    padding-right: 60px; }

.popular h2 
{   margin-left: 10px;  }

#chart 
{   margin-top: 5px;
    margin-right: 30px; }

.card_popular 
{   width: 100%;
    height: 200px;
    padding: 5px; }

.card_popular img 
{   width: 150px; }

.block_info_popular h3
{font-size: 130%;}

.card_note_popular
{   margin-top: 30px; }

#block_activities
{   margin-top: 0px;
    margin-left: 10px;
    padding-right: 40px;    }

.activities
{   padding-right: 30px;}

.activities h3 
{   font-size: 100%;    }

footer 
{   padding-bottom: 0px;
    gap: 0px;}

.foot
{   font-size: 150%;
    margin-top: 0px; }

footer li    
{   font-size: 100%; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 405 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 405px) {

.menu li 
{   height: 60%;
    margin-top: 10px;}

.menu a 
{   padding-top: 25px;    }

main h1
{   font-size: 130%;
    width: 85%; 
    margin-top: 10px;   }

.search_area
{   width: 100%;
    height: 50px;
    padding-right: 70px; }

#search_sentence
{   font-size: 100%;}

#map_marker
{   width: 100%;
    font-size: 100%;
    margin-top: 0px;
    padding: 25px 20px; }

.srch
{   height: 50px;
    font-size: 90%;
    padding-right: 10px;
    padding-left: 0px;
    width: 80%;    }

.button_2
{   font-size: 100%;
    padding: 10px 20px 5px;
    margin-left: -15px;
    margin-right: 0px; }

.button_2 i 
{   font-size: 100%;
    align-self: center;
    margin-top: 10px;
    padding-bottom: 10px;    }

.filter h2
{   font-size: 100%;    }

.filter ul 
{   margin-left: 0px;   }

.icon
{   height: 40px;
    width: 40px;    }

.text
{   font-size: 90%; 
    padding-left: 5px; }   

.icon
{   height: 35px;
    width: 35px;
    font-size: 80%;    }

.information
{   padding-right: 20px; 
    margin-bottom: -30px;   }

#info
{   width: 30px;
    height: 30px;   }

.information p 
{   font-size: 80%;
    margin-top: -15px; }

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 120%;  }
       
#accomodation_marseille
{   margin-left: 10px; 
    padding-left: 20px; }

#accomodation_marseille h2
{   margin-left: 10px; }

.block_card
{   margin-right: 0px;  
    padding-right: 0px; }

.card
{   padding: 0px; }

.popular
{   padding-right: 40px;
    padding-left: 15px; }

.card_popular 
{   height: 150px;
    padding: 5px; }

.card_popular img 
{   width: 130px; }

.block_info_popular
{   flex: 1;}

.block_info_popular h3 
{   font-size: 110%;
    width: 100%;
    margin-left: 0px;   }

.block_info_popular p
{   font-size: 80%;
    margin-top: -15px;    }

.card_note_popular
{   font-size: 70%;
    margin-top: 15px;}

#block_activities h2
{   margin-left: 20px;}

.activities
{   padding-right: 30px;    }

.foot
{   margin-left: 10px;  }

footer ul 
{   margin-left: 0px;}

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 350 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 350px) {

main h1
{   width: 90%;
    font-size: 135%;
    margin-left: 30px;
    padding-right: 50px;}

.section_search
{   font-size: 90%;
    padding-left: 10px;}

#search_sentence
{   font-size: 100%;}

.filter h2 
{   font-size: 115%;    }

.icon
{   margin-top: 0px; }

.text
{   font-size: 75%;
    margin-top: 5px;
    padding-left: 5px;    }

.block_accomodation
{   padding-left: 15px;}

.card 
{   height: 220px; }

.card h3 
{   font-size: 120%;
    padding-top: 20px;  }

.group_card
{   margin: 0px; }

.card_popular 
{   height: 130px;
    width: 100%; }

.card_popular img 
{   width: 130px; }

.block_info_popular h3 
{   font-size: 100%;    }

.card_note_popular
{   margin-top: 5px; }

.foot
{   font-size: 100%; }

footer li 
{   font-size: 80%; }


}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 320 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 320px) {

.booki
{   padding-left: 30px; }

.menu li 
{   font-size: 85%;
    margin-top: 5px; }

.menu a
{   margin-bottom: 0px;
    padding-bottom: 10px;   }

hr 
{   margin-top: -20px;  }

main 
{   padding-right: 20px;}

main h1
{   font-size: 110%;  
    width: 90%;
    margin-left: 30px;
    margin-top: 40px;  }

#search_sentence
{   font-size: 90%;
    padding-right: 10px;
    margin-left: 20px;    }

.search_area
{   width: 100%;
    height: 30px;
    margin-left: 20px;
    padding-right: 70px; }

#map_marker
{   margin-top: 0px;
    padding: 20px 15px; }

.srch
{   height: 40px;
    margin-right: -20px; }

.button_2
    {   font-size: 90%;
        padding: 5px; }

.button_2 i 
{   margin-top: 0px;
    padding: 10px 15px 7px;    }

.filter
{   margin-left: 20px;  }

.filter ul 
{   gap: 5px;   }

.filter_item
{   height: 28px; 
    padding-right: 10px;    }

.icon
{   width: 25px;
    height: 25px;   }

.information p 
{   width: 70%; 
    margin-left: -10px;}

#accomodation_marseille
{   padding-left: 20px;
    margin-right: 0px;}

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 115%;  }

#accomodation_marseille h2, .popular h2, #block_activities h2
{   margin-left: 10px; }

#chart
{   margin-right: 10px; }

.group_card
{   margin-left: 20px;
    padding-right: 0px;   }

.card h3
{   font-size: 110%;    }

.card_note
{   font-size: 70%; }

.popular
{   padding-left: 0px;
    margin-right: 0px; }

.block_info_popular h3 
{   font-size: 80%;
    width: 100%; }

.block_info_popular p
{   font-size: 60%; }

.card_note_popular
{   font-size: 50%;
    padding-top: 10px; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 270 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 270px) {

main h1
{   font-size: 90%;
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
    padding-right: 10px; }

#search_sentence
{   font-size: 80%;
    width: 80%;
    margin-left: 20px;
    margin-bottom: 0px;  }

.search_area
{   margin-left: 20px;
    width: 100%;  }

#map_marker
{   margin-top: 0px;
    padding: 15px 15px; }

.srch
{   height: 30px; }

.button_2
    {   font-size: 90%;
        margin-left: 0px; }

.button_2 i 
{   padding: 5px 10px 2px;    }

.filter
{   margin-left: 10px;
    margin-top: 0px;  }

.filter h2
{   font-size: 80%;
    margin-bottom: 0px; }

.filter_buttons
{   margin-bottom: 0px; }

.filter_item
{   height: 20px; 
    margin-left: 20px; }

.icon
{   height: 20px;
    width: 20px;
    font-size: 60%; 
    margin-left: -20px; }

.text
{   font-size: 70%;
    margin-top: 2px; }

.information
{   width: 90%;
    margin-top: -20px;
    margin-left: 15px;  }

.information p 
{   font-size: 70%;
    margin-top: -20px;
    margin-left: -10px;   }

#info
{   width: 10px;
    height: 12px;
    font-size: 60%; }

.block_accomodation
{   padding: 0px;
    margin-bottom: 0px;   }

#accomodation_marseille
{   width: 90%;
    margin-right: 0px;
    padding-right: 0px; }

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 90%; }

#accomodation_marseille h2
{   margin-left: 20px; }

.card
{   width: 85%;
    height: 180px; 
    margin-left: 10px; }

.card img 
{   height: 60%;}

.card h3
{   font-size: 90%;
    margin-top: -10px;
    margin-left: 0px;   }

.card p 
{   font-size: 70%;
    margin-left: 0px;   }

.card_note
{   font-size: 60%;
    padding-left: 40px;
    margin-bottom: 0px;  }

.show_more
{   font-size: 70%;
    margin-left: 10px;  }

.head_popular
{   margin-left: 20px;  }

#chart
{   margin-right: 60px; }

.popular
{   margin-top: -20px;
    padding-right: 10px;
    padding-left: 40px;     }

.card_popular
{   width: 80%;
    height: 100px;
    border-radius: 20px;  }

.card_popular img 
{   width: 100px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;   }

.block_info_popular h3 
{   font-size: 60%;
    width: 100%;
    margin-left: -10px; }

.block_info_popular p
{   font-size: 50%; 
    margin-top: -10px;
    margin-left: 0px;   }

.card_note_popular
{   position: inherit;
    font-size: 40%;
    padding-top: 10px;
    margin-left: -10px; }

.block_activities
{   margin-top: -40px; }

.activities h3
{   font-size: 80%;
    margin-left: 10px;  }

}
