/* --------------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR LES PERIPHERIQUES MOBILE------------------------------------------------------------------------------------------------------------------------------------------- */

 @media screen and (max-width: 768px)    { 

header, main 
{   padding-left: 0px; }

body 
{   min-width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; 
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;   }

/* LOGO ET MENU */

header 
{   width: 100%;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 10px; 
    padding-right: 10px;}

.booki
{   width: 50%;
    padding-left: 60px; }

.menu 
{   width: 100%;
    justify-content: space-around;
    padding-right: 0px;
    padding-bottom: 0px;  } 

.menu ul 
{   padding-left: 0px;
    gap: 50px;  }

.menu li 
{   width: 100%;
    font-size: 26px;
    border-top: none; 
    padding-bottom: 0px;
    margin-bottom: 0px; } 

.menu li:nth-child(2)
{   width: 50%; }

.menu a 
{   margin-top: -50px;}

.menu a:hover 
{   border-top: none;
    border-bottom: 5px solid #0065FC; }

hr 
{   display: inline;
    width: 100%;        
    border-top: 3px solid #f2f2f2;
    border-bottom: none; 
    margin-top: -20px;
    margin-bottom: 0px;
    padding: 0px; } 

main 
{   min-width: 100%; 
    display: flex;
    flex-direction: column;  
    padding-left: 0px;
    margin-left: -10px;
    margin-right: 40px; }
    
main h1 
{   width: 90%;
    text-align: inherit;
    font-size: 200%;
    font-weight: 800; 
    margin-left: 40px;
    padding-right: 15px;   }

/* SECTION 1 - RECHERCHE ET FILTRES */

.section_search
{   margin: 0px;
    padding: 10px; }

#search_sentence
{   font-size: 140%;
    font-weight: 600;
    margin-left: 30px; 
    margin-bottom: 20px;}

.search_area
{   width: 90%;
    height: 70px;
    margin-left: 30px; }

#map_marker
{   flex: 2;
    width: 100%;
    font-size: 180%;
    padding: 10px; }

::placeholder 
{   color: black;
    font-size: 140%;
    font-weight: 800; 
    padding: 10px;  }   

.button_1
{   display: none;  }

.button_2
{   display: flex;
    flex: 1;
    justify-content: center;
    padding: 20px 20px 30px;
    margin-left: -40px;
    margin-right: 20px;
    border-radius: 20px; 
    border: #0065FC;
    color: white;
    background-color: #0065FC; 
    cursor: pointer; }

.button_2:hover
{   color: black;   }

.button_2:focus
{   outline: none;  }

.button_2 i 
{   font-size: 200%;    }

.filter
{   flex-direction: column;
    width: 70%;
    margin-left: 20px; }

.filter h2
{   flex: 1;
    font-size: 170%;
    font-weight: 800; 
    margin-bottom: 10px;  }

.filter_buttons
{   margin-bottom: 0px; } 

.filter ul
{   margin-left: 10px;
    padding: 0px;
    gap: 25px;
    width: 100%; }

.filter_item
{   height: 65px;
    border: 4px solid #f2f2f2;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    border-left: none;  }

.icon
{   position: absolute;
    width: 70px;
    height: 70px;
    font-size: 26px; }
        
.text
{   width: 100%;
    position: inherit;
    font-size: 160%;
    font-weight: 800;
    padding-left: 55px; }

.information
{   margin-left: 20px;
    margin-bottom: -40px;
    padding: 5px;  }

#info
{   width: 40px;
    height: 40px;
    font-size: 100%;
    padding: 5px 10px;
    border: 3px solid #f2f2f2; 
    margin-top: 0px;
    margin-left: 0px; }

.information p 
{   max-width: 75%;
    text-align: inherit;
    font-size: 150%;
    font-weight: 500;
    margin-top: -20px; }

/* SECTION 2 - HEBERGEMENTS ET POPULAIRES */

.block_accomodation
{   flex-direction: column;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
    padding: 0px 20px; } 

#accomodation_marseille
{   flex-direction: column;
    justify-content: center;
    order: 2;
    width: 100%;
    height: auto;
    margin-left: -10px;
    padding-top: 60px;
    background-color: white;
    border-radius: 25px;
    border: none; }

#accomodation_marseille h2
{   font-size: 200%;
    font-weight: 800;
    margin-left: 30px; }
    
.block_card
{   flex-direction: column;
    margin-top: 40px;
    margin-right: 20px;
    padding-right: 20px; }

.card
{   height: 300px;
    width: 100%;
    padding: 5px;
    border-radius: 25px;    }

.card h3 
{   font-size: 180%; 
    font-weight: 800;
    margin-top: -40px;
    padding-left: 10px; }

.card p 
{   font-size: 120%;    }

.card_note
{   font-size: 100%;    }

.card p
{   margin-top: 10px;
    padding-left: 10px; }
    
.card_note
{   margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 50px; }

.card_image
{   flex: 1;
    width: 100%;
    height: 270px;
    overflow: hidden;
    object-fit: cover; }

.card_image img 
{   width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: 50% 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px; }

.show_more
{   font-size: 150%;
    font-weight: 800;
    padding-left: 10px;  }

/* POPULAIRES */

.popular
{   flex-direction: column;
    justify-content: center;
    align-content: center;
    order: 1;
    min-width: 100%;
    margin-left: -20px; 
    padding-left: 15px;
    padding-bottom: 30px;
    border-radius: 0px; 
    border: 0px; }

.popular h2, #chart
{   font-size: 200%;
    font-weight: 800;   }

.popular h2
{   margin-left: 40px; 
    margin-right: 10px; }

#chart
{   margin-top: -10px;
    margin-right: 50px; }

.group_card
{   flex-direction: column;
    width: 100%;
    padding-left: 0px; }

.card_popular 
{   flex-direction: row;
    width: 90%;
    height: 250px;
    margin: 15px 10px;
    padding: 10px;
    border-radius: 30px; }

.card_popular img 
{   width: 180px;
    height: 100%;
    border-top-left-radius: 30px; 
    border-bottom-left-radius: 30px;
    border-top-right-radius: 0px;  }

.block_info_popular 
{   width: 100%;
    margin: 0px 5px;
    padding: 0px; }

.block_info_popular h3 
{   width: 60%; 
    font-size: 175%;
    font-weight: 800;
    overflow-wrap: inherit;
    margin-top: 10px; }

.block_info_popular p
{   font-size: 130%;
    margin-top: -20px; }

.card_note_popular
{   font-size: 100%;
    margin-top: 50px;
    padding-left: 10px; }

/* SECTION ACTIVITES */

#block_activities, .activities
{   width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 40px 5px 0px 15px;
    padding: 0px; }

#block_activities h2
{   font-size: 200%;
    font-weight: 800;
    margin: 20px 40px;   }

.activities
{   justify-content: space-between;
    width: 95%;
    margin: 0px; 
    padding-left: 0px;
    padding-right: 10px; }

.activities h3 
{   font-size: 150%;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px; }

.single_activity, .group_activities
{   min-width: 95%;
    height: auto;
    margin: 20px;
    border-radius: 40px;  }

.single_activity img, .group_activities img 
{   width: 100%;
    height: 270px;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px; }

.big, .middle_1, .middle_2, .small
{   border-radius: 40px;    }

.single_activity img 
{   object-position: 50% 20%;   }  

.big img 
{   object-position: 50% 43%;   }

.small img 
{   object-position: 50% 20%;   }
.middle_2 img 
{ object-position: 50% 30%; }

/* FOOTER */

footer 
{   flex-direction: column; 
    justify-content: space-between;
    background-color: #F2F2F2; 
    height: 100%;
    min-width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;
    padding-left: 10px; 
    padding-bottom: 80px; }

.foot
{   margin-left: 30px;
    font-weight: 800;
    font-size: 200%;
    height: 100%; 
    padding-top: 0px;  }

footer ul   
{   margin-left: 20px;}

footer li    
{   color: black;
    font-size: 160%;
    font-weight: 500;
    margin-left: -10px;
    padding: 0px 20px; }

footer li a
    {   color: black; }

/* ANIMATIONS */
a
{   text-decoration: none;  
    color: black;   }

.menu a:hover, .filter_item:hover, .card:hover, h3:hover, .title_activity h2:hover, footer li a:hover
{   color: #0065FC; }

.filter_item:hover, .card:hover, h3:hover, .block_info_popular h2:hover, .title_activity h2:hover
{   transition: 0.1s ease;
    cursor: pointer; }

.filter_item:hover, .card:hover, .card_title:hover, .card_popular:hover, .single_activity:hover, .group_activities .big:hover, .group_activities .middle_1:hover,
.group_activities .middle_2:hover, .group_activities .small:hover 
{   background-color: #DEEBFF;  }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 725 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 725px) {

.block_info_popular h3 
{   width: 80%; 
    font-size: 190%; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 680 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 680px) {

.information p 
{   font-size: 140%;    }   

.block_info_popular h3 
{   width: 80%; 
    font-size: 170%; }

.block_info_popular p
{   font-size: 120%; }

.card_note_popular
{   margin-top: 40px; }

#block_activities
{   margin-left: 10px;}

}

/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 620 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 620px) {

.filter h2
{   font-size: 150%;}

.filter_item
{   height: 50px;
    margin-left: 30px; }

.filter ul 
{   margin-left: 0px;
    gap: 30px;}

.text
{   font-size: 140%;
    padding-left: 25px;}

.icon
{   position: absolute;
    width: 50px;
    height: 50px;
    font-size: 130%; }

#info
{   width: 25px;
    height: 25px; 
    font-size: 70%;  }

.block_card
{   margin-right: 0px;
    margin-left: 0px;  }

.block_info_popular h3
{   width: 100%;
    font-size: 170%; }

.block_info_popular p 
{   font-size: 130%;
    margin-top: 5px; }

.single_activity img, .group_activities img 
{   width: 100%;
    height: 180px;
    object-fit: cover; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 535 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 535px) {
    
.filter_item
{   height: 50px; }

.filter ul 
{    gap: 10px;}

.text
{   font-size: 120%;
    padding-left: 23px;}

.information p 
{   font-size: 100%;
    margin-top: -20px;    }

.block_info_popular h3 
{   width: 100%;
    font-size: 150%; }

.block_info_popular p
{   font-size: 120%;
    margin-top: -5px; }

.card_note_popular
{   font-size: 90%;
    margin-top: 30px; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 460 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 460px) {

main 
{   margin-right: 25px; }

main h1
{   width: 90%; }

.menu ul 
{   gap: 0px;
    margin-top: 0px;
    margin-left: 60px;
    margin-right: 60px; }

.menu li
{   font-size: 120%;    }

.menu a 
{ margin-top: -20px;    }

main h1 
{   font-size: 160%;
    padding-right: 40px; }

.section_search
{   margin-left: 0px;   }

#search_sentence
{   flex-wrap: wrap;
    width: 80%;
    font-size: 120%;
    margin-right: 50px;    }

.search_area
{   width: 80%;
    margin-bottom: -20px; }

::placeholder 
{   font-size: 100%; } 

.filter h2
{font-size: 130%;   }

.filter ul 
{   gap: 20px;  }

.filter_item
{   height: 120%;
    border: 2px solid #f2f2f2; }

.text
{   font-size: 110%;
    padding-left: 10px; }

.icon
{   height: 35px;
    width: 35px;
    font-size: 120%; }

.information
{   margin-bottom: -40px; }

.information p 
{   font-size: 90%;    
    padding-top: 20px;  }

.block_accomodation
{   padding-left: 10px; }

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 140%;    }

#accomodation_marseille
{   padding-top: 0px;
    padding-right: 50px;   }

.block_card
{   padding-left: 10px;
    padding-right: 10px; }

.card
{   height: 220px }

.card_image
{   width: 100%; }

.card_image img 
{   height: 125px;
    padding: 0px;
    object-fit: cover;
    object-position: 50% 60%; }

.card h3
{   font-size: 120%; 
    padding-top: 50px;   }

.card p, .card_note 
{   font-size: 90%;    }

.show_more
{   font-size: 90%;    }

.popular
{   width: 100%;
    padding-left: 30px;
    padding-right: 25px; }

.popular h2 
{   margin-left: 10px;  }

#chart 
{   margin-top: 5px;
    margin-right: 30px; }

.card_popular 
{   width: 100%;
    height: 200px;
    padding: 5px; }

.card_popular img 
{   width: 150px; }

.block_info_popular h3
{font-size: 130%;}

.card_note_popular
{   margin-top: 30px; }

#block_activities
{   margin-top: 0px;
    margin-left: 10px;
    padding-right: 30px;    }

.activities
{   padding-right: 30px;}

.activities h3 
{   font-size: 100%;    }

.single_activity img, .group_activities img 
{   height: 150px;
    object-fit: cover; }

footer 
{   padding-bottom: 0px;
    gap: 0px;}

.foot
{   font-size: 150%;
    margin-top: 0px; }

footer li    
{   font-size: 100%; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 400 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 400px) {

.menu li 
{   margin-top: 10px;}

hr 
{   margin-top: -40px;  }

.menu a 
{   margin-bottom: 20px;    }

main h1
{   font-size: 140%;    }

.search_area
{   width: 100%;
    height: 50px;
    padding-right: 70px; }

.srch
{   font-size: 90%;
    padding-left: 20px;
    width: 100%;    }

.button_2 i 
{   font-size: 150%;
    align-self: center;
    padding-top: 5px;    }

.filter h2
{   font-size: 100%;    }

.filter ul 
{   margin-left: 0px;   }

.icon
{   height: 40px;
    width: 40px;    }

.text
{   font-size: 90%; 
    padding-left: 5px; }   

.icon
{   height: 35px;
    width: 35px;
    font-size: 80%;    }

.information
{   padding-right: 20px; 
    margin-bottom: -30px;   }

#info
{   width: 30px;
    height: 30px;   }

.information p 
{   font-size: 80%;
    margin-top: -15px; }

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 120%;    }

#accomodation_marseille h2
{   margin-left: 20px;}

.block_card
{   margin-right: 0px;  
    padding-right: 0px; }

.card
{   padding: 0px; }

.popular
{   padding-right: 25px;
    padding-left: 30px; }

.card_popular 
{   height: 150px;
    padding: 5px; }

.card_popular img 
{   width: 130px; }

.block_info_popular
{   flex: 1;}

.block_info_popular h3 
{   font-size: 110%;
    width: 100%;
    margin-left: 0px;   }

.block_info_popular p
{   font-size: 80%;
    margin-top: -15px;    }

.card_note_popular
{   font-size: 70%;
    margin-top: 15px;}

#block_activities h2
{   margin-left: 20px;}

.activities
{   padding-right: 30px;    }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 350 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 350px) {

main h1
{   font-size: 135%;
    margin-left: 30px;
    padding-right: 40px;}

.section_search
{   padding-left: 0px;}

#search_sentence
{   font-size: 100%;}

.filter h2 
{   font-size: 115%;    }

.text
{   font-size: 75%;
    margin-top: 5px;
    padding-left: 5px;    }

.card 
{   height: 220px; }

.card h3 
{   font-size: 120%;
    padding-top: 20px;  }

.card_popular 
{   height: 130px;
    width: 100%; }

.card_popular img 
{   width: 130px; }

.block_info_popular h3 
{   font-size: 100%;    }

.card_note_popular
{   margin-top: 5px; }

.foot
{   font-size: 100%; }

footer li 
{   font-size: 80%; }


}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN INFERIEUR A 320 PX ------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 320px) {

.menu li 
{   font-size: 100%;
    margin-top: 20px; }

.menu a
{   margin-bottom: 0px;
    padding-bottom: 10px;   }

hr 
{   margin-top: -20px;}

main h1
{   font-size: 120%;  
    width: 90%;
    margin-top: 40px;  }

#search_sentence
{   padding-right: 10px;}

.search_area
{   width: 100%;
    height: 30px;
    padding-right: 70px; }

#map_marker
{   flex: 1;
    font-size: 100%;    }

.srch
{   flex: 10;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;    }

.button_2
{   padding: 10px;  }

.button_2 i 
{   font-size: 100%;
    padding: 0px;    }

#accomodation_marseille
{   padding-right: 20px;}

#accomodation_marseille h2, .popular h2, #chart, #block_activities h2
{   font-size: 115%;  }

#accomodation_marseille h2, .popular h2, #block_activities h2
{   margin-left: 10px; }

#chart
{   margin-right: 10px; }

.group_card
{   padding-right: 0px;   }

.card h3
{   font-size: 110%;    }

.card_note
{   font-size: 70%; }

.popular
{   padding-right: 20px;
    padding-left: 30px; }

.block_info_popular h3 
{   font-size: 80%;
    width: 100%; }

.block_info_popular p
{   font-size: 60%; }

.card_note_popular
{   font-size: 50%;
    padding-top: 10px; }

}


/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------
SUR L'ECRAN AVEC DENSITY 2 ------------------------------------------------------------------------------------------------------------------------------------*/