/*elements principaux de la page */

/* box-sizing est appliqué à tous les éléments */
* { box-sizing: border-box;                         /* Opera/IE 8+ */
    /*-moz-box-sizing: border-box;                    /* Firefox, autres Gecko */
    /*-webkit-box-sizing: border-box;                 /* Safari/Chrome, autres WebKit */
    font-family: 'Raleway', 'Arial';    }


main 
{   display: flex;
    flex-direction: column;    
    width: 100%; 
    min-height: 100vh;
    margin: 0px 40px 0px 0px; }

.content
{   display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 40px; }

/*.header, .content
{   padding-left: 40px; }*/


/* HEADER */

header 
{   display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-left: 60px;
    margin-right: 10px;     }

hr
{   display: none;}

/*.title                                              /* PREMIERE PARTIE DE HEADER 
{   display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin: auto;   } */

.booki                                             /* LOGO BOOKI */
{   display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 50%; }

.booki img 
{   width: 30px;
    height: 20px;
    padding-top: 20px;  }

.menu                                                /*BAR DU MENU*/
{   width: 300px;
    height: 20px;   }

.menu ul     
{   display: flex;
    align-content: flex-end;
    justify-content: flex-end; }

.menu li 
{   list-style: none;
    margin-right: 50px;
    font-size: 15px;    }

.menu a 
{   display: inline-block;
    position: relative;
    padding: 35px 0px;     }

.menu a:hover 
{   border-top: 1px solid #0065FC;  }

.section {
    display: flex;
    flex-direction: column;
    max-height: 70%;    }

/* SECTION 1 */

.section_search                                      /* SECTION DE RECHERCHE GLOBAL */                               
{   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    margin: 40px 30px;
    float: left;
    padding-left: 25px; }

.title_search                                                     /* LES DEUX PARAGRAPHES D'OUVERTURE */
{   font-weight: bold;
    font-size: 25px; 
    width: 100%;
    position: relative;    }

.sentence_search 
{   display: flex;
    flex-wrap: nowrap;
    font-weight: normal;
    font-size: 15px; 
    width: 100%; 
    position: relative;
    margin-top: -10px;
    margin-left: 0px;  }

.search_area                                            /* PARTIE DE RECHERCHE */
{   display: flex;
    margin: 10px 0px;
    width: 485px;
    justify-content: flex-start;    }

.search_area, .button_1
{   height: 50px;   }

#map_marker                                            /* ICON MAP */
{   display: flex;
    flex: 2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;    }

.srch                                                   /* CHAMP DE RECHERCHE */
{   flex: 10;
    border: 2px solid #f2f2f2;    
    font-weight: bold;
    align-items: center;
    padding-left: 20px;
    font-size: 20px;    }

.button_1, .button_2                                                    /* BUTTON DE RECHERCHE */
{   flex: 6;
    background: #0065FC;
    color: #DEEBFF;
    font-weight: bold;
    border: 1px solid;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;    
    transition: 0.5s ease;
    font-size: 20px;    }

.button_1:hover, .button_2:hover 
{   color: black;   }

.button_1:focus, .button_2:focus, .src:focus 
{   outline: none;  }

.button_2
{   display: none;  }

.filter                                                 /* PARTIE FILTRES */
{   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: auto;
    margin-top: 15px;
    margin-left: -10px;}

.filter h2
{   font-size: 20px;
    padding-top: 10px;
    padding-left: 10px;}

.filter ul
{   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 25px;
    padding-right: 10px;}

.filter li
{   list-style: none;    }

.filter_item 
{   display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 2px solid #f2f2f2;
    background-color: white;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;
    height: 37px; 
    width: max-content;   }

.filter_item:hover 
{   border: 1px solid;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-left: none;  }

.icon                         /* ICONS DE FILTRES */
{   display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    margin-left: -30px;
    margin-top: -3px;
    font-size: 14px; 
    background-color: #DEEBFF;   }

.text
{   display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-bottom: 5px;
    padding-left: 15px; }

.information                                                /* PARTIE INFO */
{   display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 15px;
    margin-left: 5px;  }

#info 
{   display: flex;
    border: 0.5px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 10px; }

.information p
{   display: flex;
    font-size: 13px;
    font-weight: normal;
    margin: 0px 15px;   }

/* SECTION 2 */

.block_accomodation
{   display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -10px;    }

.accomodation_marseille                                               /* PARTIE HEBERGEMENTS */
{   display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    gap: 20px;
    background-color: #F2F2F2;
    border: 15px solid #F2F2F2;
    border-radius: 15px;
    margin-left: 60px;
    margin-right: 40px;
    height: auto;   }

.title_accomodation
{   display: flex;   
    width: 100%;
    margin-left: 30px;
    font-size: 22px;
    font-weight: bold;   }

.block_card
{   display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-content: center;
    height: auto; 
    margin-top: -10px;   }

.card     
{   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 280px;
    height: 220px;
    object-fit: cover;
    flex-basis: 30%;
    border-radius: 15px;
    background-color: white;  
    box-shadow: 5px 5px 5px gainsboro;
    margin: 10px 10px 10px -20px;
    padding: 5px;  }

.card_image img 
{   width: 100%;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 16 / 8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  }

.card h2                                                            /* PARTIE TITRE, PRIX, ETOILE */
{   word-wrap: break-word;
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: black; 
    margin: 0px 0px -5px 15px; }

.card p, .block_info p
{   color: black;
    font-size: 14px;
    margin-left: 15px; }

.euros_1
{   font-weight: bold;  }

.card_note
{   display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 12px;
    margin: -5px 0px 5px -25px;
    height: 25px;    }

.show_more
{   display: flex;
    font-weight: bold;  
    font-size: 15px;    
    margin: -20px 0px 0px 20px;
    width: 40%;   }

.popular                                                   /* PARTIE POPULAIRES */
{   display: flex;
    flex-direction: column;
    /*flex: 1;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    max-height: 100%;
    background-color: #F2F2F2;
    border: 15px solid #F2F2F2;
    border-radius: 15px;
    /*margin-left: 10px;
    margin-right: 10px;*/ }

.title_popular
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 15px;  
     }

.title_popular h1
{   display: flex;    
    font-size: 22px;
    margin: 0px 0px;   }

#chart 
{   display: flex;
    justify-content: space-between;
    align-content: flex-end;
    font-size: 22px;
    font-weight: bold; }

.group_card
{   display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 100%; 
    gap: 20px;   }

.card_popular    
{   display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
    align-content: flex-start;
    height: 45%;
    border-radius: 15px;
    background-color: white; }

.image 
{   display: flex;
    flex: 1;
    margin: 5px;
    object-fit: cover;
    height: 130px;
    width: 100%; }

.image img
{   width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-content: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;    }   
   
.image:hover, .image img:hover 
{   transform: scale(1.06); }

.block_card_popular 
{   display: flex;
    flex: 2;
    flex-direction: column;
    margin-left: 10px;  }

.block_info                                                        /* PARTIE TITRE ET PRIX */
{   padding: 0px;
    margin: 0px;
    width: 200px;   }

#euros
{   font-weight: normal;  }

.card_note_popular                                                 /* PARTIE ETOILES */
{   font-size: 12px;
    padding-top: 30px; }

/* SECTION 3 */

.block_activities                                                  /* PARTIES ACTIVITES */
{   display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 3;
    margin: 40px 20px 40px 40px;
    padding-bottom: 60px;    }

.main_title_activities
{   display: flex;   
    margin-left: 35px;  }

.main_title_activities h3 
{   font-size: 20px;
    font-weight: bold;  }    

.activities
{   display: flex;
    /*flex-direction: row;*/
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 450px;  
    width: 100%;
    margin: 0px 20px;   }

.single_activity h2, .group_activities h2
{   display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    font-weight: bold;
    font-size: 16px;
    color: black; 
    text-align: left;
    padding: 0px 10px;
    word-wrap: break-word  }
    
.single_activity
{   display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 15px;
    height: 460px;
    width: 23%;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 2px #F2F2F2;    }

.group_activities
{   display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
    height: 460px;
    width: 23%;
    margin-top: 30px;   }

.big, .middle_1, .middle_2, .small
{   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 2px #F2F2F2;   }

.big
{   height: 50%;
    margin-bottom: 90px;}

.middle_1, .middle_2
{   height: 45%;   }

.middle_1
{   margin-bottom: 45px;}

.small
{   height: 30%;}

.single_activity img
{   width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;   }

.big img
{   width: 100%;
    height: 75%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;  }

.middle_1 img, .middle_2 img
{   width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;   }

.small img
{   width: 100%;
    object-fit: cover;
    height: 65%;
    object-position: 50% 30%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;   }

/* FOOTER */

footer 
{   display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F2F2F2;    
    padding-left: 60px;
    margin-left: -20px;
    margin-bottom: -10px;
    height: 100%;
    width: auto; }

footer ul   
{   margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0px;  }

footer li    
{   display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    font-size: 15px;
    text-align: left;
    min-height: 40px;   }

.foot
{   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;    }

.about, .accomodations
{   flex: 5;    }

.assistance
{   flex: 6;    }


/* REGROUPEMENT DES CODES POUR ANIMATION */

a
{   text-decoration: none;  
    color: black;   }

.menu a:hover, .filter_item:hover, .card:hover, .card_title h2:hover, h3:hover, .card_title_popular h3:hover, .title_activity h2:hover, footer a:hover
{   color: #0065FC; }

.filter_item:hover, .card:hover, .card_title h2:hover, h3:hover, .card_popular:hover, .card_title_popular h3:hover, .title_activity h2:hover
{   transition: 0.1s ease;
    cursor: pointer; }

.filter_item:hover, .card:hover, .card_title:hover, .card_popular:hover, .single_activity:hover, .group_activities .big:hover, .group_activities .middle_1:hover, .group_activities .middle_2:hover, .group_activities .small:hover 
{   background-color: #DEEBFF;  }


