/*elements princi^paux de la page */

/* box-sizing est appliqué à tous les éléments */
* {
    box-sizing: border-box;
    padding: 0;
  }


.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 20px;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.title{
    display: flex;
    flex-direction: row;
    width: 97%;
    height: 50px;
    margin-left: 20px;
}

.logo{
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: baseline;
}

.logo img{
    width: 85px;
    height: 40px;    
}

nav{
    width: 300px;
    height: 40px;
    flex: 1;

}

nav ul{    
    display: flex;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

nav li{
    list-style: none;
    margin-right: 20px;
    font-size: 15px;
}

nav a{
    text-decoration: none;    
    font-family: 'Raleway', 'Comic Sans MS';
    font-weight: normal;
    padding-bottom: 3px;
}

nav a:hover{
    color: #0065FC;               /* couleur bleu */
    text-decoration: #0065FC;
    text-decoration-line: overline;
}

.search{
    display: flex;
    flex-direction: column;
}

h1{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', 'Comic Sans MS';
    font-weight: bold;
    font-size: 18px;
  }

h2{
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', 'Comic Sans MS';
    font-weight: normal;
    font-size: 13px;
}

.search{
    float: left;
    margin-left: 20px;
}

.search_area{
    width: 350px;
    height: 30px;
}

.srch{
    font-family: 'Raleway', 'Comic Sans MS';
    width: 200px;
    border: 2px solid #f2f2f2;
    margin: 10px 0px;
    font-size: 17px;
    font-weight: bold;
    float: left;
    padding: 5px ;    
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 30px;
    background: #0065FC;
    color: white;
    border: 1px solid;
    margin: 10px 0px;
    font-size: 17px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;    
    transition: 0.2s ease;
}

.btn:hover{
    color: black;
}

.btn:focus, .src:focus{
    outline: none;
}




















